@page "/pandas"

<h1>¡Bienvenido a la página de los Pandas! 🐼</h1>

<p>Los pandas son animales adorables que viven principalmente en China.</p>
<p>Se alimentan de bambú, son excelentes trepadores y están en peligro de extinción.</p>

@code {

}
